:root {
    --rocket-close-size: 100px;
    --rocket-distant-small-size: 40px;
    --rocket-distant-size: 40px;
    --rocket-distant-opacity: blur(0.5px);

    --rocket-Y-middle-position: 25%;
    --rocket-X-middle-position: 45.6%;

    --rocket-X-landed-position: 45%;
    --rocket-Y-landed-position: 65%;

    --rocket-X-distant-landed-position: 74%;
    --rocket-Y-distant-landed-position: 14%;

    --rocket-Y-distant-arriving-landing-position: 25%;
    --rocket-Y-distant-landing-above-position: 5%;

    --rocket-X-distant-landing-side-position: 100%;

    --rocket-blur-close: 0px;
    --rocket-blur-distant: 0.5px;
    --rocket-bottom-position: 62%;

    --rocket-str-rotation: 20deg;
    --rocket-right-rotation: 21.5deg;
    --rocket-left-rotation: -18deg;
    --rocket-offset-middle-rotation: 22deg;

    --animation-trip-delay: 4s;
    --animation-arrive-delay: 8s;
}

.rocket {
    filter: blur(var(--rocket-blur-close));
    position: absolute;
    z-index: 999999;
    animation-fill-mode: forwards;

    width: 100px;
    height: var(--rocket-X-landed-position);
    top: var(--rocket-Y-landed-position);
    right:45%;
}

.animateRocket {
    animation: doTakeOff 4s ease-in-out, 1s rocketFlying var(--animation-trip-delay) linear infinite, planetApprox 1s ease-in var(--animation-arrive-delay) forwards;
}

.landingRocketWrapper {
    animation: doLanding 8s ease-in-out 8s forwards;
}

.rocketSection {
    transform: rotate(20deg);
}

.flames {
    position: relative;
    right: 44.5%;
    bottom: 22%;
    max-width: 100%;
    transform: rotate(180deg);
    z-index: 99999;
}

.stranded {
    top: 30%;
    left: -50%;
    opacity: 0.5;
    animation: strandedAnimation 20s linear 10s infinite;
}

@keyframes strandedAnimation {
    0% {
        left: -50%;
    }
    100% {
        left: 150%;
        transform: rotate(180deg);
    }
}

@keyframes doLanding {
    0% {
        top: -20%;
    }
    100% {
        top: 17%;
        transform: rotate(10deg);
    }
}

@keyframes hideFlames {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes changeRocketSize {
    0%{
        background-size: 25px;
        margin-left: -5%;
    }
    100% {
        background-size: 35px;
        margin-left: -5%;
    }
}

@keyframes planetApprox {
    0% {
        top: var(--rocket-Y-middle-position);
    }
    100% {
        top: -40%;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rocketFlying {
    0% {
        top: var(--rocket-Y-middle-position);
        right: 45%;
    }
    25% {
        top: 24%;
    }
    75% {
        top: 26%;
    }
    100% {
        top: var(--rocket-Y-middle-position);
        right: 45%;
    }
}

@keyframes doTakeOff {
    0% {
        right: var(--rocket-X-landed-position);
        top: var(--rocket-Y-landed-position);
    }
    25% {
        right: 54%;
        transform: rotate(var(--rocket-right-rotation));
        -webkit-transform: rotate(var(--rocket-right-rotation));
    }
    50% {
        right: 38%;
        transform: rotate(var(--rocket-left-rotation));
        -webkit-transform: rotate(var(--rocket-left-rotation));
    }
    100%{
        top: var(--rocket-Y-middle-position);
        right: var(--rocket-X-landed-position);
    }    
}