:root {
    --rocket-close-size: 100px;
    --rocket-distant-small-size: 40px;
    --rocket-distant-size: 40px;
    --rocket-distant-opacity: blur(0.5px);

    --rocket-Y-middle-position: 25%;
    --rocket-X-middle-position: 45.6%;

    --rocket-X-distant-landed-position: 74%;
    --rocket-Y-distant-landed-position: 14%;

    /* top From 25% to 5% to land */
    --rocket-Y-distant-arriving-landing-position: 25%;
    --rocket-Y-distant-landing-above-position: 5%;

    /* right From 100% to 74% to land */
    --rocket-X-distant-landing-side-position: 100%;

    --rocket-blur-close: 0px;
    --rocket-blur-distant: 0.5px;
    --rocket-bottom-position: 62%;

    --rocket-arriving-initial-rotation: 90deg;
    --rocket-arriving-close-1-rotation: 90deg;
    --rocket-arriving-close-2-rotation: 80deg;
    --rocket-arriving-close-3-rotation: 60deg;
    --rocket-arriving-close-4-rotation: 50deg;
    --rocket-arriving-close-5-rotation: 40deg;
    --rocket-arriving-close-6-rotation: 28deg;
    --rocket-arriving-close-7-rotation: 25deg;

    --rocket-str-rotation: 20deg;
    --rocket-right-rotation: 21.5deg;
    --rocket-left-rotation: -18deg;
    --rocket-offset-middle-rotation: 22deg;

    --animation-trip-delay: 4s;
    --animation-arrive-delay: 8s;
}

.rocket {
    filter: blur(var(--rocket-blur-close));
    position: absolute;
    z-index: 999999;
    animation: doTakeOff 4s ease-in-out, 1s rocketFlying var(--animation-trip-delay) linear infinite, planetApprox 1s ease-in var(--animation-arrive-delay), doLanding 8s linear 10s forwards;
    animation-fill-mode: forwards;

    width: 100px;
    height: 45%;
    top: 15%;
    right: 50%;
}

.rocketSection {
    animation: changeRocketSize 8s ease-in-out 10s forwards;
    transform: rotate(20deg);
}

.flames {
    position: relative;
    right: 44.5%;
    bottom: 22%;
    max-width: 100%;
    transform: rotate(180deg);
    z-index: 99999;
}

.flamesSection {
    animation: hideFlames 0.1s linear 9s forwards;
}

@keyframes hideFlames {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes changeRocketSize {
    0%{
        background-size: 25px;
        margin-left: -5%;
    }
    100% {
        background-size: 35px;
        margin-left: -5%;
    }
}

@keyframes doLanding {
    0%{
        width: var(--rocket-distant-small-size);
        opacity: 0;
        top: 15%;
        right: 95%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-initial-rotation));
    }
    10% {
        top: 25%;
        right: 90%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-1-rotation));
    }
    25% {
        top: 22.5%;
        right: 87%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-2-rotation));
    }
    30% {
        top: 18%;
        right: 84%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-3-rotation));
    }
    45% {
        top: 14%;
        right: 80%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-4-rotation));
    }
    50% {
        top: 10%;
        right: 78%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-5-rotation));
    }
    75% {
        top: 8%;
        right: 75%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-6-rotation));
    }
    80% {
        top: 10%;
        right: 74%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-arriving-close-6-rotation));
    }
    90% {
        top: 12%;
        right: 74%;
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(var(--rocket-str-rotation));
    }
    100% {
        width: var(--rocket-distant-size);
        opacity: 1;
        top: var(--rocket-Y-distant-landed-position);
        right: var(--rocket-X-distant-landed-position);
        filter: blur(var(--rocket-blur-distant));
        transform: rotate(28deg);

    }
}

@keyframes planetApprox {
    0% {
        top: var(--rocket-Y-middle-position);
    }
    100% {
        top: -40%;
        opacity: 0;
    }
}

@keyframes rocketFlying {
    0% {
        top: var(--rocket-Y-middle-position);
        right: 45.5%;
    }
    25% {
        top: 24%;
    }
    75% {
        top: 26%;
    }
    100% {
        top: var(--rocket-Y-middle-position);
        right: 45.5%;
    }
}

@keyframes doTakeOff {
    0% {
        right: 45.5%;
        top: 62%;
    }
    25% {
        right: 54%;
        transform: rotate(var(--rocket-right-rotation));
        -webkit-transform: rotate(var(--rocket-right-rotation));
    }
    50% {
        right: 38%;
        transform: rotate(var(--rocket-left-rotation));
        -webkit-transform: rotate(var(--rocket-left-rotation));
    }
    100%{
        top: var(--rocket-Y-middle-position);
        right: 45.5%;
    }    
}